<section id="owl-slider" class="owl-carousel owl-theme">
	<%= content_tag :div, class: "item" do -%>
		<%= image_tag("fullimage1.jpg", alt: "The Last of us") %>
	<% end -%>
	<%= content_tag :div, class: "item" do -%>
		<%= image_tag("fullimage2.jpg", alt: "GTA V") %>
	<% end -%>
	<%= content_tag :div, class: "item" do -%>
		<%= image_tag("fullimage3.jpg", alt: "Mirror Edge") %>
	<% end -%>
</section>

<section class='intro'>
	<div class='container'>
		<div class='intro_row'>
			<div class='col-sm-9 col-xs-12 vcenter'>
				<div class='content'>
						<h2>Some of our top services</h2>
						<p>Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo. </p>
					</div>
			</div><!-- 
			--><div class='col-sm-3 col-xs-12 text-center vcenter'>
				<div class='content'>
					<button type="button" class="btn btn-danger" aria-haspopup="true" aria-expanded="false">
				    View More
				  </button>
				</div>
			</div>
			<div class='clearfix'></div>
		</div>
	</div>
</section>

<section class='services container'>
	<div class='row'>
		<div class='col-md-3 col-sm-6 text-center'>
			<div class='col col-1'>
				<h3>SUSPENDISSE</h3>
				<p>Quisque id tellus quis risus vehicula vehicula ut turpis. In eros nulla, placerat vitae at, vehicula ut nunc.</p>
				<button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false">
			    View More
			  </button>
			</div>
		</div>
		<div class='col-md-3 col-sm-6 text-center'>
			<div class='col col-2'>
				<h3>MAECENAS</h3>
				<p>Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo.</p>
				<button type="button" class="btn btn-danger" aria-haspopup="true" aria-expanded="false">
			    View More
			  </button>
			</div>
		</div>
		<div class='col-md-3 col-sm-6 text-center'>
			<div class='col col-3'>
				<h3>ALIQUAM</h3>
				<p>Vivamus eget ante bibendum arcu vehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non.</p>
				<button type="button" class="btn btn-danger" aria-haspopup="true" aria-expanded="false">
			    View More
			  </button>
			</div>
		</div>
		<div class='col-md-3 col-sm-6 text-center'>
			<div class='col col-4'>
				<h3>HABITASSE</h3>
				<p>Astehicula ultricies. Integer venenatis mattis nisl, vitae pulvinar dui tempor non.</p>
				<button type="button" class="btn btn-danger" aria-haspopup="true" aria-expanded="false">
			    View More
			  </button>
			</div>
		</div>
	</div>
</section>

<section class='about'>
	<section class='heading'>
		<div class='container'>
			<div class='row content'>
				<div class='col-md-12 text-center'>
					<h1>WHY MODUS VERSUS?</h1>
					<p>Capacitance cascading integer reflective interface data development high bus cache dithering transponder.</p>
				</div>
			</div>
			<div class='row slider'>
				<div class='col-md-4 slider_1'>
					<div class='slider-wrapper'>
						<div class='slider-1'>
							<ul class="slides">
						    <%= content_tag :li do -%>
									<%= image_tag("fullimage1.jpg", alt: "The Last of us") %>
								<% end -%>
								<%= content_tag :li do -%>
									<%= image_tag("fullimage2.jpg", alt: "GTA V") %>
								<% end -%>
								<%= content_tag :li do -%>
									<%= image_tag("fullimage3.jpg", alt: "Mirror Edge") %>
								<% end -%>
						  </ul>
						</div>
					</div>
				</div>
				<div class='col-md-6 col-md-offset-3 slider_2'>
					<div class='slider-wrapper'>
						<div class='slider-2'>
							<ul class="slides">
						    <%= content_tag :li do -%>
									<%= image_tag("fullimage1.jpg", alt: "The Last of us") %>
								<% end -%>
								<%= content_tag :li do -%>
									<%= image_tag("fullimage2.jpg", alt: "GTA V") %>
								<% end -%>
								<%= content_tag :li do -%>
									<%= image_tag("fullimage3.jpg", alt: "Mirror Edge") %>
								<% end -%>
						  </ul>
						</div>
					</div>
				</div>
				<div class='col-md-4 col-md-offset-8 slider_3'>
					<div class='slider-wrapper'>
						<div class='slider-3'>
							<ul class="slides">
						    <%= content_tag :li do -%>
									<%= image_tag("fullimage1.jpg", alt: "The Last of us") %>
								<% end -%>
								<%= content_tag :li do -%>
									<%= image_tag("fullimage2.jpg", alt: "GTA V") %>
								<% end -%>
								<%= content_tag :li do -%>
									<%= image_tag("fullimage3.jpg", alt: "Mirror Edge") %>
								<% end -%>
						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class='about_content'>
		<div class='container'>
			<div class='row'>
				<section class='col-md-3 why_choose'>
					<h3>Why Choose Us?</h3>
					<div class='reason'>
						<ul>
							<li>Quisque at massa ipsum</li>
							<li>Maecenas a lorem augue, egestas</li>
							<li>Cras vitae felis at lacus eleifend</li>
							<li>Etiam auctor diam pellentesque</li>
							<li>Nulla ac massa at dolor</li>
							<li>Condimentum eleifend vitae vitae</li>
						</ul>
					</div>
				</section>
				<section class='col-md-6 skills'>
					<p>Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus <a href=''>vehicula mattis</a>. Nulla ac massa at dolor condimentum eleifend vitae vitae urna.</p>
					<div class='graph row'>
						<div class='col-md-3'>

						</div>

					</div>
				</section>
				<section class='col-md-3 testemoials'>
					<h3>What Client’s Say?</h3>
					<div class='say_content'>
						<p class='say'>Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus vehicula mattis. Nulla ac massa at dolor condimentum</p>
						<p class='user_name'>Jone Doe</p>
					</div>
				</section>
			</div>
		</div>
	</sectioin>
</section>

<section class='clients'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-12'>
				<div id="clients_slider">
				  <ul class="slides">
				    <%= content_tag :li do -%>
							<%= image_tag("fullimage1.jpg", alt: "The Last of us") %>
						<% end -%>
						<%= content_tag :li do -%>
							<%= image_tag("fullimage2.jpg", alt: "GTA V") %>
						<% end -%>
						<%= content_tag :li do -%>
							<%= image_tag("fullimage3.jpg", alt: "Mirror Edge") %>
						<% end -%>
				  </ul>
				</div>
			</div>
		</div>
	</div>
</section>
