<section class='container'>
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
			<%= form_for(@user) do |f| %>
				<%= f.label :name %>
				<%= f.text_field :name %>

				<%= f.label :email %>
				<%= f.text_field :email %>

				<%= f.label :password %>
				<%= f.password_field :password %>

				<%= f.label :password_confirmation, "Confirmation" %>
				<%= f.password_field :password_confirmation %>

				<%= f.submit "Create My Account", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</section>