@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background: #f3f3f3;
	color: #7f8c8c;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.menu_bar{
	height: 80px;
	padding-top: 15px;
	margin-bottom: 0px;
	background: #76c7c0;
	border-bottom: none;
	color: white;
	.in{
		background: #76c7c0;
		overflow: hidden;
		max-height: initial;
		ul.nav{
			margin: 0px;
			form{
				border: 0px;
			}
		}
	}
	ul.nav > li a{
		&:hover{
			background: #e8645a;
			border-radius: 5px;
			box-shadow: 0px 3px #e2534b;
		}
	}
	ul.nav > li.active a{
		background: #62a29e !important;
		border-radius: 5px;
		box-shadow: 0px 3px #528b86;
		&:hover{
			box-shadow: 0px 3px #528b86;
		}
	}
	ul.nav > li.open{
		>a{
			background: #e8645a !important;
		}
		ul.dropdown-menu{
			background: #e2534b;
			padding: 5px;
			a{
				background: #e8645a;
				&:hover{
					background: #76c7c0;
				}
			}
			.divider{
				height: 0px;
				margin: 4px 0px;
			}
		}
	}
}
#owl-slider{
	.item img{
    display: block;
    width: 100%;
    height: auto;
	}
	.owl-prev{
		position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -35px;
	}
	.owl-next{
		position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -35px;
	}
} 
.intro{
	border-radius: 4px;
	.intro_row{
		background: #ececec;
	}
	.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
	}
}
.services{
	margin-bottom: 80px;
	.col{
		margin-top: 50px;
		background: #f8f8f8;
		padding-top: 50px;
		box-shadow: 0px 4px #e5e6e6;
    border-radius: 4px;
		h3{
			margin-top: 0px;
			margin-bottom: 30px;
			&:before{
				content: "";
				display: block;
				position: relative;
				width: 52px;
				height: 52px;
				left: 50%;
				margin-left: -26px;
				margin-bottom: 18px;
			}
		}
		p{
			height: 140px;
			margin: 0px;
		}
		button{
			position: absolute;
	    bottom: 0px;
	    width: 70%;
	    margin-left: -35%;
	    margin-bottom: -15px;
	    background: #76c7c0;
	    border: none;
	    box-shadow: 0 4px #62b9b0;
	    color: white;
		}
		&:hover{
			button{
				background: #e8645a;
		    border: none;
		    box-shadow: 0px 4px #e2534b;
		    margin-bottom: -15px;
			}
		}
	}
	.col-1{
		h3{
			&:before{
				background: url(services_1.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}
		}
		&:hover{
			h3{
				&:before{
					background: url(services_1_hover.png);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: 50% 50%;
				}
			}
		}
	}
	.col-2{
		h3{
			&:before{
				background: url(services_2.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}
		}
		&:hover{
			h3{
				&:before{
					background: url(services_2_hover.png);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: 50% 50%;
				}
			}
		}
	}
	.col-3{
		h3{
			&:before{
				background: url(services_3.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}
		}
		&:hover{
			h3{
				&:before{
					background: url(services_3_hover.png);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: 50% 50%;
				}
			}
		}
	}
	.col-4{
		h3{
			&:before{
				background: url(services_4.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}
		}
		&:hover{
			h3{
				&:before{
					background: url(services_4_hover.png);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: 50% 50%;
				}
			}
		}
	}
}

.about{
	.heading{
		background: #ececec;
		.container{
			position: relative;
			.content{
				padding-bottom: 185px;
				padding-top: 45px;
				h1{
					color: #e1524b;
				}
			}
			.slider{
				position: absolute;
				bottom: 0px;
				left: 0px;
				margin-bottom: -120px;
				.slider_1{
					position: absolute;
				}
				.slider_2{
					position: relative;
					z-index: 10;
					margin-top: -37px;
				}
				.slider_3{
					position: absolute;
				}
				.slider-wrapper{
					padding: 30px 4px 4px 4px;
					background: #b0b8b9;
					position: relative;
					.flex-control-nav{
						top: 0px;
						bottom: 0px;
				    text-align: center;
				    padding-top: 10px;	
					}
				}
				img{
					width: 100%;
				}
			}
		}
	}
	.about_content{
		margin-top: 160px;
		.why_choose{
			.reason{

			}
		}
		.skills{
			margin-top: 20px;
		}
		.testemoials{
			.say_content{
				.say{
					padding: 10px;
					background: white;
					position: relative;
					border-radius: 4px;
					&:after{
						content: "";
						display: block;
						position: absolute;
						top: 100%;
						left: 20px;
						background: white;
						width: 20px;
						height: 40px;
						-ms-transform: skewY(20deg); /* IE 9 */
				    -webkit-transform: skewY(20deg); /* Safari */
				    transform: skewY(50deg); /* Standard syntax */
				    margin-top: -30px;
    				z-index: -1;	
					}
				}
				.user_name{
					text-indent: 45px;
				}
			}
		}
	}
}
.clients{
	
}

