<nav class="navbar navbar-default navbar-fixed-top menu_bar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "MODUSversus", root_path, class: "navbar-brand", id: "home" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
   	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class='active'><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Services", '#' %></li>
        <li class="dropdown">
        	<%= link_to "#", class: "dropdown-toggle", role: "button", :data => {:toggle => "dropdown"}, :aria => {:haspopup => "true", :expanded => "false"} do %>
					  Portfolio<span class="caret"></span>
					<% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Portfolio 2 column pages", "#"%></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Portfolio 2 column pages", "#"%></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Portfolio 2 column pages", "#"%></li>
          </ul>
        </li>
        <li><%= link_to "Blog", "#"%></li>
        <li><%= link_to "Features", "#"%></li>
        <li><%= link_to "Contacts", "#"%></li>
        <li class="dropdown">
        	<%= link_to "#", class: "dropdown-toggle", role: "button", :data => {:toggle => "dropdown"}, :aria => {:haspopup => "true", :expanded => "false"} do %>
					  <span id="search_icon" class="glyphicon glyphicon-search" aria-hidden="true"></span>
					<% end %>
          <ul class="dropdown-menu">
            <li>
            	<%= form_tag("#", method: "post", class: "navbar-form navbar-left search_form", role: "search") do %>
	            	<%= content_tag :div, class: "form-group" do -%>
								  <%= text_field_tag 'search', nil, class: 'form-control', placeholder: 'Search' %>
								<% end -%>
							<% end %>
	      		</li>
          </ul>
        </li>
        <li></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<div class='clearfix' style='margin-bottom: 80px;'></div>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
